<article class="media">
    <div class="media-content">
        <div class="content container is-mobile">
            <p>
            <div id="{{id}}" class="is-flex is-justify-content-space-between">
                <div><strong>{{blog_title}}</strong></div>
                <div>Posted by: {{user.name}} on {{format_date createdAt}}</div>
            </div>
            <br>
            {{blog_text}}
            <br>
            </p>
        <div class="field">
            <p class="control">
                <a class="add-comment">Comment</a>
            </p>
        </div>
    </div>
</article>

