<div class="container">
    <h1 class="title">Welcome to your Dashboard!</h1>
    <p>Here you can add new posts or update/delete posts by clicking on the post name!</p>
    <br>
    <a href="/api/blogs/{{userId}}/addpost" id="new-post" class="button is-primary">
        <strong>New Post</strong>
    </a>
</div>
<div id="dash-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <textarea class="textarea title-modal"rows="1"></textarea>
    </header>
    <section class="modal-card-body">
      <textarea id="post-body"class="textarea"rows="10"></textarea>
    </section>
    <footer class="modal-card-foot">
      <button onclick="saveChanges()" class="button is-success">Save changes</button>
      <button onclick="cancelModal()" class="button">Cancel</button>
      <button onclick="deletePost()" class="button is-danger">Delete Post</button>
    </footer>
  </div>
</div>
<div>
    {{#each userPosts as |posts|}}
    <article class="media">
        <div class="media-content">
            <div class="content container is-mobile blogs">
                    {{!-- <a href="/api/blogs/{{id}}/options"> --}}
                    <div id="{{id}}" class="blogTitle"><strong>{{blog_title}}</strong></div>
                    {{!-- </a> --}}
                    <div>{{format_date createdAt}}</div>
                <p class="blogText">{{blog_text}}</p>
            </div>
        </div>
    </article>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>
