<article class="media">
    <div class="media-content">
        <div id="{{id}}" onclick="addHref({{id}})" class="content container is-mobile full-post">
            <p>
            <div class="is-flex is-justify-content-space-between">
                <div><strong>{{blog.blog_title}}</strong></div>
                <div>Posted by: {{blog.user.name}} on {{format_date blog.createdAt}}</div>
            </div>
            <br>
            {{blog.blog_text}}
            <br>
            </p>

        <div class="media-content">
            <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <button class="button add-comment">Post comment</button>
            </p>
            </div>
        </div>

        <br>
        {{#each blog.comments as |comment|}}
        <div class="content">
          <p>
            <h4>Need to find Name </h4>
            <p>{{comment_text}}</p>
            <small>- {{format_date createdAt}} -</small>
          </p>
        </div>
        {{/each}}
        
    </div>
</article>

<script src="js/singleblog.js"></script>