<article class="media">
    <div class="media-content mobile-blog">
        <div id="{{id}}"  class="content container full-post">
            <p>
                <h4 class="is-4"><strong>{{blog.blog_title}}</strong></h4>
                {{blog.blog_text}}
                <div class="mt-3">Posted by: {{blog.user.name}} on {{format_date blog.createdAt}}</div>
            </p>
        {{#if loggedIn}}
        <div class="media-content">
            <div class="field">
            <p class="control">
                <textarea id="comment-text" class="textarea" placeholder="Add a comment..."></textarea>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <button id="add-comment" class="button">Post comment</button>
            </p>
            </div>
        </div>
        {{else}}
        
        {{/if}}
        <br>
        <h4 class="is-4 mt-3">Comments</h4>
        {{#each blog.comments as |comment|}}
        <article class="media">
            <div class="media-content media-left">
                <div class="content">
                <strong>{{user.name}}</strong>
                <p>{{comment_text}}</p>
                <small> · {{format_date createdAt}} ·</small>
                </div>
            </div>
        </article>
        {{/each}}
 

<script src="/js/singleblog.js"></script>