<article class="media">
    <div class="media-content">
        <div class="content container is-mobile blogs">
                <div  class="blogTitle">{{blog.blog_title}}</div>
                {{!-- <div>{{format_date createdAt}}</div>
            <p class="blogText">{{blog_text}}</p> --}}
        </div>
    </div>
</article>
<h1>HI</h1>
<p>{{blog.id}}</p>
<p>{{blog.blog_text}}</p>
<p>bye</p>

<script src="js/singleblog.js"></script>